body {
	background-color: #000000;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

canvas {
	border: 1px solid #ffffff;
	border-radius: 10px;
	margin-top: 20px;
	margin-left: 20px;
	height: 80vh;
}

.container {
	display: flex;
}

.controls {
	display: flex;
	height: max-content;
}

.right {
	height: 100vh;
	width: 50vw;
	display: flex;
	flex-direction: column;
}

.controlwrap {
	margin-left: 50px;
	height: max-content;
}

.popup {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

#button1,
#button2,
#button3 {
	margin-top: 20px;
	padding: 15px 20px;
	background-color: transparent;
	border: 1px solid #ffffff;
	color: #ffffff;
	font-size: 16px;
	cursor: pointer;
	border-radius: 10px;
}

#button1:hover,
#button2:hover,
#button3:hover {
	background-color: #ffffff;
	color: #000000;
}

#controls1,
#controls2,
#controls3 {
	flex-direction: column;
}

label {
	color: #ffffff;
	font-size: 16px;
}
